* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

.sky {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

.grass {
  height: 100vh;
  width: 100%;
  background-image: url(grass.png);
  background-size: cover;
  position: absolute;
  top: -144px;
}

.track {
  height: 60vh;
  width: 800vh;
  background-image: url(track.png);
  position: absolute;
  top: 65vh;
  background-repeat: repeat-x;
  animation: carMove linear 0.5s infinite;
}

.car {
  height: 100px;
  width: 380px;
  background-image: url(car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 190px;
  left: 300px;
  animation: carShake linear 0.2s infinite;
}

/* .wheel {
  width: 90px;
  position: relative;
  top: 40px;
  left: 33px;
} */

.wheel1 img {
  width: 74px;
  position: relative;
  top: 40px;
  left: 44px;
  animation: wheelRotation linear 0.2s infinite;
}

.wheel2 img {
  width: 75px;
  position: relative;
  top: -37px;
  left: 235px;
  animation: wheelRotation linear 0.2s infinite;
}

@keyframes wheelRotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes carMove {
  100% {
    transform: translateX(-500vh);
  }
}

@keyframes carShake {
  0% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}
